
*{margin:0;
  padding:0;
  box-sizing: border-box;	}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #757575; 
}

#oontrol-footer{
    background-color: #1c1f23;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    font-size: 12px;
    vertical-align: middle;
    bottom: 0px;
    width: 100%;
}

body{
    overflow: overlay;
    background-color: #eeeeee !important;
}
